{{ define "main" }}
<main class="main">
  <div class="headline-wrapper bg-blue">
    <h1>
      Boende
    </h1>

    <p>Främst för er som kommer långt ifrån eller av annan anledning planerar att sova över.</p>
  </div>

  <h2></h2>
  <p>
    Lokalen för bröllopet hyrs från Gålö Havsbad vilka också tillhandahåller stugor, tält och husbilsplatser. Vill man
    sova över så rekommenderar vi att man tar kontakt med dem.
    <a href="https://en.galohavsbad.se/">Gålö Havsbad</a>
  </p>

  <img src="/img/cabins.png" alt="">

  <p>Värt att notera är att incheckning för stugor är från kl 15:00. Anländer man på lördagen bör man alltså antingen
    hänga på låset eller klara av den saken efter vigseln</p>


  <p>För er som planerar att köra en helhelg och dyka upp redan på fredagen så kommer vi ha svårt att stå för
    underhållningen på dan eftersom det kommer va en del att fixa med. Men vill man komma och grilla med oss utanför
    lokalen senare på kvällen så är man varmt välkommen.</p>

  <p>På söndagen kommer det serveras en enklare frukost i lokalen mellan ca 9 och 11.</p>

</main>
{{end}}