{{ define "main" }}
<main class="main">
  <div class="headline-wrapper">
    <h1>
      Hitta hit
    </h1>
    <p>Komsikomsi :D</p>
  </div>

  <p>
    Det enklaste är att ni sätter GPS:en på <a target="_blank"
      href="https://www.google.se/maps/place/G%C3%A5l%C3%B6+Havsbad/@59.1304778,18.2599537,11.5z/data=!4m9!3m8!1s0x46f58879bdb507bf:0xc077e2b70be4b57c!5m3!1s2020-05-27!4m1!1i2!8m2!3d59.095217!4d18.318391">
      Gålö Havsbad i Haninge
    </a>
    hoppar in i bilen och åker dit.
  </p>

  <p>
    Är man mer äventyrlig så kan man också använda Stockholms Länstrafik. Då är det pendeltåg till Västrahaninge station
    och sedan buss 845 mot Skälåker som gäller.
  </p>

  <p>
    Vill man ytterligare höja graden av äventyrlighet och anlända men båt så ligger Skälåkers båtklubb precis bredvid
    campingen. De har ingen reguljär gästhamn men för en natt kan det nog gå att ordna. Kontakta i så fall brudparet i
    god tid innan bröllopet för besked.
  </p>


</main>
{{ end }}