{{ define "head" }}
{{ $schemaStyle := resources.Get "css/schema.css" | fingerprint }}
<link rel="stylesheet" href="{{ $schemaStyle.RelPermalink }}" integrity="{{ $schemaStyle.Data.Integrity }}">
{{ end }}

{{ define "main" }}
<div class="headline-wrapper bg-green">
  <h1>
    Schema
  </h1>
  <p>
    Schemat för dagen så man inte missar något
  </p>
</div>

<div class="schema-container">

  <h2>18:00 Fördrink</h2>
  <p>
    <b>Fredag: </b> På grund av Covid kan vi inte hålla sittning med alla samtidigt. Så ungefär halva sällskapet med nära familj
    och vänner till dem (beröda personer har blivit kontaktade) kommer ha en egen sittning på fredagen.
  </p>

  <hr class="divider">
  
  <h2>08:30 Brunch</h2>
  <p>
    <b>Lördag: </b>För de som hade sittning på fredagen och sovit över får att vara med på vigseln på lördagen så
    serveras brunch/frukost på morgonkvisten. 8:30-10:00 kan tyckas okristligt tidigt men det är för att vi ska hinna
    ställa iordning lokalen tills kvällen. Hoppas ni har förståelese för det.
  </p>

  <img class="map" src="/img/map.jpg" alt="">

  <h2>15:30 Vigsel</h2>
  <p>
    Den borgliga vigseln kommer äga rum ute på udden söder om Gålö Havsbad. Enklaste sättet att komma dit är via en
    stig som startar vid parkeringen. De första två tredjedelarna är grusade för
    att sedan bli vanlig stig och klippor sista biten. Vi rekommenderar således något mindre eleganta skor för
    den här
    delen av dagen.
  </p>


  <h2>16:30 Fest</h2>
  <p>
    Efter vigseln tar vi oss gemensamt upp till festlokalen Fröbergs Loge (huset längst ned på bilden). Vi kommer
    börja med fördrink så om man behöver springa och hämta ett par snyggare
    skor eller snabbt checka in så finns det lite tid nu. Kvällen fortsätter sedan med middag, dans och härligt häng
    med skojsiga människor.
  </p>

  <hr class="divider">

  <h2>9:00 Brunch</h2>
  <p>
    <b>Söndag: </b>Självförklarande rubrik :D. Dock viktigt att ni meddelar oss om ni vill ha någon brunch så att vi vet hur många
    vi
    ska fixa mat åt. Och visst ja, vi äter tillsammans i festlokalen från dagen innan.
  </p>

  <hr class="divider">

  <h2>Om det regnar...</h2>
  <p>Vid den högst eventuella förekomsten av vatten från ovan i sådan mängd att vigsel nere vid havet inte kan komma i
    fråga så flyttas denna del till logen alternativt trädgården utanför. Vatten resistansen hos framförallt bruden är
    dock tämligen stor så ett paraply kan vara bra att ha med sig. Om det onämnbara ändå skulle inträffa så kommer ny
    plats för vigseln bland annat meddelas vid början av stigen ut på udden. </p>

</div>

{{end}}