{{ define "main" }}
<main class="main">
  <div class="headline-wrapper">
    <h1>
      Schema
    </h1>
    <p>
      Schemat för dagen så man inte missar något
    </p>
  </div>

  <h2>15:30 Vigsel</h2>
  <p>
    Den borgliga vigseln kommer äga rum ute på udden söder om Gålö Havsbad. Enklaste sättet att komma dit är vi en stig
    som startar genom en båge vid parkeringen. Därefter är det grusad stig två tredjedelar av vägen ut på udden för att
    bli vanlig stig och klippor sista tredjedelen. Vi rekommenderar således något minde eleganta skor för den här
    delen av dagen.
  </p>

  <h2>ca 16:30 Fördrink</h2>
  <p>Fördrink och mingel utanför lokalen Förings loge. Kom också ihåg at leta reda på vad du ska sitta. Lätt som en
    plätt, eller!?!</p>

  <h2>ca 17:30 Sittningen börjar</h2>
  <p>Ni vet, mat, dricka, tal och trevligt samkväm. Allt som behövs för att få en riktigt trevlig kväll.</p>

  <h2>ca 21 Festen börjar</h2>
  <p>Först flyttar vi lite bord medan den sista avecen dricks upp. Sedan öppnar dansgolvet, baren och man får äntligen
    tid att prata med andra än de som man satt med :D</p>

  <h2>ca 01-02 Omstart!</h2>
  <p>Logen utryms och festen flyttar ett par designerade efterfests-stugor. Om tidsplanen fortfarande håller vid det här
    laget så är det mer tur än skicklighet, vilket också innebär att fortsatt aktivitet härefter är helt osanktionerad
    från vår sida</p>

  <h2>9-11 Frukost på logen</h2>
  <p>Självförklarande rubrik :D</p>

  <h2>Om det regnar...</h2>
  <p>Vid den högst eventuella förekomsten av vatten från ovan i sådan mängd att vigsel nere vid havet inte kan komma i
    fråga så flyttas denna del till Logen alternativt trädgården utanför. Vatten resistansen hos framförallt bruden är
    dock tämligen stor så ett paraply kan vara bra att ha med sig. Om det onämnbara ändå skulle inträffa så kommer my
    plats för vigseln bland annat meddelas vid början av stigen ut på udden. </p>
</main>
{{end}}