{{ define "head" }}
<link rel="stylesheet" type="text/css" href="/css/övrigt.css">
{{ end }}

{{ define "main" }}
<main class="main">
  <div class="headline-wrapper">
    <h1>
      Övrigt
    </h1>

    <p>Övriga saker som kan vara bra att veta och som vi inte fick med någon annanstans</p>
  </div>

  <h2>Allergi varning</h2>
  <div class="block">
    <div>
      <img class="block-img" src="/img/maria.jpg" alt="">
    </div>
    <div class="block-info">
      För att minsta risken för ond bråd död så ber vi alla att INTE ta med snickers, kakor eller andra saker som
      innehåller
      jordnötter. Tack så mycket :)
    </div>
  </div>

  <h2>Klädkod</h2>
  <div style="height: 100px; background: gray;"></div>


  <h2>Barn</h2>
  <div class="block">
    <div>
      <img src="/img/maria.jpg" alt="" class="block-img">
    </div>
    <div class="block-info">
      Målsman ansvarar för minderåriga, men alla åldrar är välkomna
    </div>
  </div>

  <h2>Corona planen</h2>
  <div class="block">
    <div>
      <img src="/img/maria.jpg" alt="" class="block-img">
    </div>
    <div class="block-info">
      Eftersom det ännu inte blivit tillåtet att ha sammankomster med mer än 50 personer är det här bröllop teknisk
      sätt uppvigling till brott (än så länge). Förhoppningsvis ser det bättre ut i september. Om inte får vi skjuta på
      det tills nästa år, men i så fall kommer vi höra av oss.
    </div>
  </div>

</main>
{{ end }}