{{ define "main" }}
<main class="main">
  <div class="headline-wrapper">
    <h1>
      Övrigt
    </h1>

    <p>Övriga saker som kan vara bra att veta och som vi inte fick med någon annanstans</p>
  </div>

  <h2>Allergi varning</h2>
  <p>För minsta risken för ond bråd död så ber vi alla att INTE ta med snickers, kakor eller andra saker som innehåller
    jordnötter. Tack så mycket :)</p>

  <h2>Klädkod</h2>
  <!-- <h3>Korta versionen</h3>
  <p>Mörk kostym</p>
  <h3>Långa versionen</h3>
  <p>Kostym och smoking är nice, men det senare är inget måste. Vill man ha något som inte är svart så får man det
    också.</p>
  <p>Kvinnor får ha på sig vad de vill som de anser är festligt och fint. Det brukar dock inte va några problem där
    eftersom de generellt är bättre att hitta fina saker att ha på sig ;) </p> -->

  <div style="height: 100px; background: gray;"></div>


  <h2>Barn</h2>
  <p>Målsman ansvarar för minderåriga, men alla åldrar är välkomna</p>

  <h2>Corona planen</h2>
  <p>Eftersom det ännu inte blivit tillåtet att ha sammankomster med mer än 50 personer är det här bröllop teknisk sätt
    uppvigling till brott (än så länge). Förhoppningsvis ser det bättre ut i september. Om inte får vi skjuta på det
    tills nästa år, men i så fall kommer vi höra av oss.</p>

  {{/*  <h2>Presenter</h2>
  <p>Det är present nog att ni kommer och firar den här dagen tillsammans med oss.</p>  */}}




</main>
{{ end }}