* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: 'Great Vibes', cursive;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.top-background {
  background: rgb(87, 86, 86);
  background: radial-gradient(circle, rgba(87, 86, 86, 1) 0%, rgba(14, 14, 14, 1) 100%);
  position: absolute;
  left: 0;
  right: 0;
  height: 200px;
  z-index: -1;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.main {
  padding: 32px;
  background-color: white;
  margin: 0 12px;
  box-shadow: 5px 5px 11px rgb(43, 42, 42);
}

.headline-wrapper {
  margin: 0 0 32px 0;
  text-align: center;
}

.headline-wrapper h1 {
  margin: 0;
  font-weight: 300;
}

.headline-wrapper p {
  color: goldenrod;
  margin: 8px 0;
}

.main-image {
  width: 100%;
  border-radius: 50%;
}