@font-face {
  font-family: "Brotherhood Script";
  src: url("/fonts/brotherhood-script.ttf") format("truetype");
}

@font-face {
  font-family: "Gill Sans MT Medium";
  src: url("/fonts/gill-sans-mt-medium.ttf") format("truetype");
}

:root {
  --color-font: rgb(43, 43, 43);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 16px;
  color: var(--color-font);
}

.background-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-image: url("/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: transparent;
}

.main {
  padding: 32px;
  background-color: white;
  margin: 0 12px;
  box-shadow: 5px 5px 11px rgb(43, 42, 42);
}

.headline-wrapper {
  margin: 0 0 32px 0;
  text-align: center;
}

.headline-wrapper h1 {
  margin: 0;
  font-weight: 300;
}

.headline-wrapper p {
  color: goldenrod;
  font-size: 1.25rem;
  margin: 8px 0;
}

.main-image {
  width: 100%;
  border-radius: 50%;
}