.main-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
}

.menu-open-button {
  margin-top: 8px;
  margin-left: 22px;
  padding: 0;
  border-radius: 10%;
}

.menu-open-icon {
  width: 25px;
  margin: 4px;
}

.menu-close-button {
  float: right;
  padding: 0;
  background: transparent;
  border: none;
  clear: both;
}

.menu-close-icon {
  width: 25px;
}

.main-nav-content {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 16px;
  min-height: 84px;
  visibility: hidden;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.main-nav-content ul {
  padding: 0;
}

.nav-item {
  margin: 0 32px 0 16px;
  list-style: none;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.nav-item a {
  text-decoration: none;
  color: var(--color-font);
  display: block;
}

.nav-item:hover a,
.nav-item a:hover,
.nav-item a:active,
.nav-item.active a {
  color: goldenrod;
}

.nav-item:hover,
.nav-item.active {
  border-bottom-color: goldenrod;
}

/* ====== When open ======== */

.main-nav-container.open .menu-open-button {
  display: none;
}

.main-nav-container.open .main-nav-content {
  visibility: visible;
}

/* ========= Large screens ========= */

@media screen and (min-width: 520px) {
  .main-nav-container button {
    display: none;
  }
  .main-nav-container {
    position: relative;
    transform: none;
    left: 0;
    padding: none;
  }

  .main-nav-content ul {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    visibility: visible;
  }

  .nav-item {
    margin-bottom: 0;
  }
}
