.main-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.main-nav-container button {
  margin-bottom: 8px;
  margin-top: 8px;
}

.main-nav-container.open button {
  display: none;
}

.main-nav-container.open ul {
  visibility: visible;
}

.main-nav-container ul {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 16px;
  min-height: 84px;
  visibility: hidden;
}

.nav-item {
  margin: 0 16px;
  list-style: none;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 8px;
}

.nav-item a {
  text-decoration: none;
  color: var(--color-font);
}

.nav-item a:hover, .nav-item a:active, .nav-item.active a {
  color: goldenrod;
}

.nav-item.active {
  border-bottom: 2px solid goldenrod;
}

@media screen and (min-width: 520px) {
  .main-nav-container button {
    display: none;
  }
  .main-nav-container {
    position: relative;
    transform: none;
    left: 0;
    padding: none
  }
  .main-nav-container ul {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    visibility: visible;
  }
}