<!DOCTYPE html>
<html lang="se">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>{{ block "title" . }}{{ .Page.Title }}{{ end }}</title>
</head>

<body>
  <div class="top-background"></div>
  <div class="container">
    <header>
      <nav class="main-nav-container">
        <ul>
          <li class="nav-item"><a>Välkomna</a></li>
          <li class="nav-item"><a>Schema</a></li>
          <li class="nav-item"><a>Boende</a></li>
          <li class="nav-item"><a>OSA</a></li>
        </ul>
      </nav>
    </header>
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </div>
</body>

</html>
