<!DOCTYPE html>
<html lang="se">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

  {{ $indexStyle := resources.Get "css/index.css" | fingerprint }}
  {{ $typogrophyStyle := resources.Get "css/typogrophy.css" | fingerprint }}
  {{ $navStyle := resources.Get "css/nav.css" | fingerprint }}
  <link rel="stylesheet" href="{{ $indexStyle.Permalink }}" integrity="{{ $indexStyle.Data.Integrity }}">
  <link rel="stylesheet" href="{{ $typogrophyStyle.Permalink }}" integrity="{{ $typogrophyStyle.Data.Integrity }}">
  <link rel="stylesheet" href="{{ $navStyle.Permalink }}" integrity="{{ $navStyle.Data.Integrity }}">

  {{ block "head" . }}{{ end }}
  <title>{{ block "title" . }}{{ .Page.Title }}{{ end }}</title>
</head>

<body onclick="closeMenu()">
  <div class="background-image"></div>
  <div class="container">
    <header onclick="event.stopPropagation()">
      <nav id="nav-container" class="main-nav-container">
        <button onclick="openMeny()" class="menu-open-button">
          <img src="/img/menu.svg" alt="Öppna meny" class="menu-open-icon">
        </button>
        <div class="main-nav-content">
          <button class="menu-close-button" onclick="closeMenu()">
            <img src="/img/close.svg" alt="Stäng meny" class="menu-close-icon">
          </button>
          <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class='nav-item {{ if $currentPage.IsMenuCurrent  "main" . }}active{{ end }}'>
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </nav>
    </header>
    {{ block "main" . }}
    {{ end }}

    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </div>

  <script>
    function closeMenu() {
      const elem = document.getElementById('nav-container')
      elem.classList.remove('open')
    }

    function openMeny() {
      const elem = document.getElementById('nav-container')
      elem.classList.add('open')
    }
  </script>
</body>

</html>