@font-face {
  font-family: "Brotherhood Script";
  src: url("/fonts/brotherhood-script.ttf") format("truetype");
}

@font-face {
  font-family: "Vladimir Script";
  src: url("/fonts/vladimir-script.ttf") format("truetype");
}

@font-face {
  font-family: "Gill Sans MT Medium";
  src: url("/fonts/gill-sans-mt-medium.ttf") format("truetype");
}

:root {
  --color-font: rgb(43, 43, 43);
  --color-font-second: gold;
  --phone-upper: 620px;
  --color-main: green;

  --color-blue: blue;
  --color-orange: orange;
  --color-violet: violet;
  --color-green: var(--color-main);
}

* {
  box-sizing: border-box;
}

img {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  max-width: 100%;
}

p {
  margin-top: 0;
}

body {
  margin: 0;
  font-family: "Gill Sans MT Medium";
  font-size: 16px;
  color: var(--color-font);
}

.background-image {
  display: none;
}

.container {
  max-width: var(--phone-upper);
  margin: 0 auto;
  background-color: transparent;
}

.main {
  padding: 16px;
  background-color: white;
}

.osa-section {
  margin: 0 -16px;
  color: var(--color-font-second);
  background-color: var(--color-main);
  padding: 16px;
  text-align: center;
}

.osa-section h2 {
  margin: 0;
}

.osa-section p:last-child {
  margin: 0;
}

.headline-wrapper {
  margin: 0 0 32px 0;
  text-align: center;
  padding: 16px;
  color: var(--color-font-second);
}

.headline-wrapper h1 {
  margin: 0 0 24px 0;
  font-weight: 300;
}

.headline-wrapper p {
  font-family: "Vladimir Script";
  font-size: 1.8rem;
  margin: 8px 0;
}

.main-image {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 16px;
}

a {
  color: var(--color-font-second);
}

.title-and {
  margin-left: -25px;
  margin-right: -56px;
  font-weight: bold;
}

/* ========= Utils ========= */

.bg-green {
  background-color: var(--color-green);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-orange {
  background-color: var(--color-orange);
}

.bg-violet {
  background-color: var(--color-violet);
}

.p0 {
  padding: 0;
}

/* ========= Large screens ========= */

@media screen and (min-width: 520px) {
  .main {
    padding: 32px;
    /* margin: 0 12px; */
    box-shadow: 5px 5px 11px rgb(43, 42, 42);
    border-radius: 5px;
  }

  .background-image {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
