.main-nav-container {
  text-align: left;
  background: var(--color-main);
}

.menu-open-button {
  margin: 8px 0 8px 22px;
  padding: 4px;
  border: none;
  width: 30px;
  height: 30px;
  background-color: var(--color-main);
  border-radius: 6px;
  box-shadow: 3px 3px 6px #432838, -3px -3px 6px #5b364c;
}

.menu-open-button:active {
  box-shadow: inset 3px 3px 6px #432838, inset -3px -3px 6px #5b364c;
}

.menu-open-icon {
  width: 100%;
}

.menu-close-button {
  float: right;
  padding: 6px;
  background: transparent;
  border: none;
  clear: both;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.menu-close-button:active {
  box-shadow: inset 3px 3px 6px #202b18, inset -3px -3px 6px #2c3a20;
}

.menu-close-icon {
  width: 100%;
}

.main-nav-content {
  background-color: var(--color-main);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  left: 0;
  margin: 0;
  min-height: 84px;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-150%);
  transition: transform 0.4s;
  width: 100%;
}
.main-nav-content ul {
  padding: 0;
}

.nav-item {
  border-bottom: 2px solid transparent;
  display: block;
  font-size: 1.25rem;
  list-style: none;
  margin: 0 32px 8px 16px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  display: block;
}

.nav-item:hover a,
.nav-item a:hover,
.nav-item a:active,
.nav-item.active a {
  color: var(--color-font-second);
}

.nav-item:hover,
.nav-item.active {
  border-bottom-color: var(--color-font-second);
}

/* ====== When open ======== */

.main-nav-container.open .main-nav-content {
  transform: translateY(0);
}

/* ========= Large screens ========= */

@media screen and (min-width: 640px) {
  .main-nav-container button {
    display: none;
  }
  .main-nav-container {
    left: 0;
    padding: 0;
    position: relative;
    transform: none;
  }

  .main-nav-content {
    background-color: transparent;
    box-shadow: none;
    position: relative;
    transform: none;
    transition: none;
    visibility: visible;
  }

  .main-nav-content ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav-item {
    margin: 0 16px;
  }
}
