.block {
  display: flex;
  align-items: flex-start;
}

.block-img-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 8px;
}

.block-img {
  width: 100%;
}

.block-info {
  padding-left: 8px;
}

.dresscode-wrapper {
  text-align: center;
}

.dresscode-img {
  padding: 8px 24px 0px 24px;
  margin-bottom: 32px;
  max-width: 270px;
}
