{{ define "head"}}
{{ $toastmastersStyle := resources.Get "css/toastmasters.css" | fingerprint }}
<link rel="stylesheet" href="{{ $toastmastersStyle.Permalink }}" integrity="{{ $toastmastersStyle.Data.Integrity }}">
{{ end }}

{{ define "main" }}
<main class="main">
  <div class="headline-wrapper">
    <h1>
      Elin <span class="title-and">&</span> Johan
    </h1>
    <p>
      12 September - Gålö havsbad
    </p>
  </div>
  <img class="main-image" src="/img/main.jpg" alt="">

  <p>
    Hej på er allesammans. Nu har det äntligen blivit dags! Den 12 September gifter vi oss nere vid vattnet
    i närheten av Gålö havsbad.
  </p>

  <p>
    Vi hoppas ni vill vara med och dela den här dagen med oss, så OSA på nu (innan den 1 Juli) så ses
    vi där!
  </p>

  <h2>OSA</h2>
  <p>
    <!-- TODO: fix email -->
    OSA genom att skicka ett mail till <a
      href="mailto:johan.bo.gustavsson@gmail.com?subject=OSA&cc=elin.gawell@gmail.com">oss</a>
  </p>
  <p>
    Vi behöver veta hur många som kommer, om ni har några matpreferenser eller allergier samt om ni tänker sova
    över och vill ha frukost.
  </p>

  <h2>Tal och upptåg</h2>
  <p>Vill du hålla tal eller liknande ber vi dig kontakta någon av våra toastmasters</p>
  <div class="toastmaster-container">
    <div class="toastmaster">
      <img class="toastmaster-img" src="/img/josef.jpg" alt="">
      <div class="toastmaster-contact">
        Josef Gustavsson
        <a href="mailto:josef.gson@gmail.com">josef.gson</a>
        070 285 73 42
      </div>
    </div>

    <div class="toastmaster">
      <img class="toastmaster-img" src="/img/maria.jpg" alt="">
      <div class="toastmaster-contact">
        Maria Hedvall
        <br>
        <a href="mailto:maria.a.hedvall@gmail.com">maria.a.hedvall</a>
        <br>
        070 392 19 97
      </div>
    </div>
  </div>

</main>
{{ end }}