{{ define "main" }}
<main class="main">
  <div class="headline-wrapper">
    <h1>
      Elin & Johan
    </h1>
    <p>
      12 September - Gålö havsbad
    </p>
  </div>
  <img class="main-image" src="/img/main.jpg" alt="">

  <p>
    Hej på er allesammans. Nu har det äntligen blivit dags! Den 12 September gifter vi oss nere vid vattnet
    i närheten av Gålö havsbad.
  </p>

  <p>
    Vi hoppas ni vill vara med och dela den här dagen med oss, så OSA på nu (innan den 11 September) så ses
    vi där!
  </p>


  <div class="headline-wrapper">
    <h1>
      Schema för dagen
    </h1>
  </div>

</main>
{{ end }}