<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elin och Johan</title>
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body>
  <div class="top-background"></div>
  <div class="container">
    <header>
      <nav class="main-nav-container">
        <ul>
          <li class="nav-item"><a>Välkomna</a></li>
          <li class="nav-item"><a>Schema</a></li>
          <li class="nav-item"><a>Boende</a></li>
          <li class="nav-item"><a>OSA</a></li>
        </ul>
      </nav>
    </header>
    <html  class="main">
      <div class="headline-wrapper">
        <h1>
          Elin & Johan
        </h1>
        <p>
          12 September - Gålö havsbad
        </p>
      </div>
      <img class="main-image" src="./main.jpg" alt="">

      <p>
        Hej på er allesammans. Nu har det äntligen blivit dags! Den 12 September gifter vi oss nere vid vattnet
        i närheten av Gålö havsbad.
      </p>

      <p>
        Vi hoppas ni vill vara med och dela den här dagen med oss, så OSA på nu (innan den 11 September) så ses vi där!
      </p>

    </main>

    <main class="main">
      <div class="headline-wrapper">
        <h1>
          Schema för dagen
        </h1>
      </div>


    </main>
  </div>
</body>

</html>